run = ["npm", "run", "start"]

hidden=["database.sqlite", ".config"]

[nix]
channel = "stable-22_05"

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

  [languages.javascript.languageServer]
  start = [ "typescript-language-server", "--stdio" ]
