run = "git fetch && git pull && npm run build-start"

hidden=["database.sqlite", ".config"]

[nix]
channel = "stable-23_11"

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

  [languages.javascript.languageServer]
  start = [ "typescript-language-server", "--stdio" ]
